body {
	background-color: rgb(14, 19, 27);
	margin: 0;
	box-sizing: border-box;
	user-select: none;
	font-family: sans-serif; 
}

button {
	outline: 0;
}

.flexi {
	display: flex;
	flex-flow: column;
	align-items: center;
	justify-content: center;
	margin-bottom: 15px;
}

/*====================================*/

#intro {
	display: flex;
	flex-flow: column;
	align-items: center;
	justify-content: center;
}

#intro h1 {
	color: white;
	font-size: 50px;
	font-family: 'Muli', sans-serif;
}

/*====================================*/

#generate {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	height: 150px;
	width: 150px;
	border-radius: 50%;
	background-color: rgba(0,0,0,0.3);
	color: rgb(14, 19, 27);
	font-size: 17px;
	font-weight: bold;
	border: 4px solid rgb(14, 19, 27);
	z-index: 1000;
	display: none;
}

#generate:hover {
	background-color: rgb(14, 19, 27);
	color: white;
}

/*=====================================*/

#map-container {
	position: relative;
	display: flex;
	justify-content: center;
	text-align: center; 
	align-items: center;
	border: 20px solid #1c2c38;
}

#map-container:hover {
	cursor: pointer;
}

#map-container:hover #generate {
	cursor: pointer;
	display: block;
}

#map-container p {
	color: white;
	font-size: 12px;
	margin-bottom: 2px;
}

#loader-container {
	opacity: 0;
	position: relative;
	height: 50px;
	opacity: 0;
}

#g-line-container {
	position: relative;
	height: 10px;
	width: 100px;
	margin: auto;
	overflow: hidden;
}

#g-line {
	position: absolute;
	top: 4px;
	left: -115px;
	width: 115px;
	height: 5px;
	background-color: white; 
}